<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT BlogPost ANY>
<!ATTLIST BlogPost id ID #REQUIRED>
<!ELEMENT BlogPostRepository ANY>
<!ATTLIST BlogPostRepository id ID #REQUIRED>
<!ELEMENT ApplyForRefund ANY>
<!ATTLIST ApplyForRefund id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT LandingPage ANY>
<!ATTLIST LandingPage id ID #REQUIRED>
<!ELEMENT Settings ANY>
<!ATTLIST Settings id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1073" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-09-28T05:30:32" updateDate="2015-10-04T02:59:48" nodeName="Home" urlName="home" path="-1,1073" isDoc="" nodeType="1060" creatorName="Admin" writerName="Admin" writerID="0" template="1056" nodeTypeAlias="Home">
    <siteDescription><![CDATA[This is an official Umbraco Starter kit. It shows of the newest features in Umbraco and is the perfect place to start for newcomers.. Everything is made to be taken apart. It's your own little playground. Enjoy!]]></siteDescription>
    <siteTitle><![CDATA[Fanoe - Umbraco Starter Kit]]></siteTitle>
    <siteLogo><![CDATA[/media/1042/logo.jpg]]></siteLogo>
    <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Banner",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "rte",
                "banner_headline",
                "banner_tagline"
              ],
              "config": {},
              "styles": {
                "margin-bottom": "60px"
              },
              "controls": [
                {
                  "value": "Welcome to Fanoe",
                  "editor": {
                    "name": "Banner Headline",
                    "alias": "banner_headline",
                    "view": "textstring",
                    "render": null,
                    "icon": "icon-coin",
                    "config": {
                      "style": "font-size: 36px; line-height: 45px; font-weight: bold; text-align:center",
                      "markup": "<h1 style='font-size:62px;text-align:center'>#value#</h1>"
                    }
                  }
                },
                {
                  "value": "This is the new default starter kit for Umbraco, we enjoy building things that not only look great, but also work great.",
                  "editor": {
                    "name": "Banner Tagline",
                    "alias": "banner_tagline",
                    "view": "textstring",
                    "render": null,
                    "icon": "icon-coin",
                    "config": {
                      "style": "font-size: 25px; line-height: 35px; font-weight: normal; text-align:center",
                      "markup": "<h2 style='font-weight: 100; font-size: 40px;text-align:center'>#value#</h2>"
                    }
                  }
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media"
              ],
              "controls": [
                {
                  "value": "<h2>The starter kit</h2>\n<p>Congratulations on getting up and running with the “Fanoe” starter kit. It's a great way to get to know the Grid datatype.</p>\n<p><a href=\"/{localLink:1078}\" title=\"The starter kit\">Learn about the starter kit →</a><a href=\"/{localLink:1078}\" title=\"The Starterkit\"><br /></a></p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media"
              ],
              "controls": [
                {
                  "value": "<h2>Learn the basics</h2>\n<p>To get started on the right foot make sure to check out our documentation - from tutorials to API reference.</p>\n<p><a href=\"/{localLink:1079}\" title=\"Basics\">Off to the docs →</a></p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media"
              ],
              "controls": [
                {
                  "value": "<h2>Master classes</h2>\n<p>The best way to learn Umbraco is through the Master classes that’s running every month in most regions.</p>\n<p><a href=\"/{localLink:1080}\" title=\"Masterclasses\">Learn about the masterclasses →</a></p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            }
          ],
          "styles": {
            "background-image": "url(/media/1044/14441035391_7ee1d0d166_h_darken.jpg)"
          },
          "config": {
            "class": "dark"
          },
          "id": "d28a05da-2404-c1e7-6265-01b07fc5f722"
        },
        {
          "name": "Two column",
          "areas": [
            {
              "grid": 6,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "media_round",
                "quote"
              ],
              "controls": [
                {
                  "value": "<h1>Umbraco Forms</h1>\n<p>With our add-on product Umbraco Forms it’s a breeze to create any type of form you can imagine.</p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            },
            {
              "grid": 6,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "media_round",
                "quote"
              ],
              "controls": [
                {
                  "value": "<h1>Package repository</h1>\n<p>At Our Umbraco you’ll find hundreds of free packages made and maintained by the community.</p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            }
          ],
          "styles": {
            "background-image": "url(/media/1023/form-bg.png)"
          },
          "config": {
            "class": "light"
          },
          "id": "5362ea7d-e729-078b-e717-a1e7aa69fd4b"
        },
        {
          "name": "Full width image",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media_wide_cropped",
                "media_wide"
              ],
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1127,
                    "image": "/media/1046/14386124825_d43f359900_h_cropped.jpg"
                  },
                  "editor": {
                    "name": "Image wide",
                    "alias": "media_wide",
                    "view": "media",
                    "render": "/App_Plugins/Grid/Editors/Render/media_wide.cshtml",
                    "icon": "icon-picture",
                    "config": {}
                  }
                }
              ]
            }
          ],
          "styles": {},
          "config": {
            "class": "full triangle"
          },
          "id": "953b3802-6b4f-20ed-66f9-9a855e9afdd4"
        },
        {
          "name": "Two column",
          "areas": [
            {
              "grid": 6,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "media_round",
                "quote"
              ],
              "controls": [
                {
                  "value": "<h2>Sharing is caring</h2>\n<p>Our Umbraco is our community hub, bringing together over a hundred thousand people every month sharing knowledge in the forum, documentation, blogs, packages and much more.</p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            },
            {
              "grid": 6,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "media_round",
                "quote"
              ],
              "controls": [
                {
                  "value": "<h2>Born global, loving local</h2>\n<p>If you can’t make it to CodeGarden, that doesn’t mean you have to miss the chance of hanging out with the Umbraco community. You can do just that through the many local user groups and meetups</p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            }
          ],
          "styles": {},
          "config": {
            "class": "purple"
          },
          "id": "29cac0ff-d8e9-605b-9e7b-6809dce55edd"
        },
        {
          "name": "Banner",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "rte",
                "banner_headline",
                "banner_tagline"
              ],
              "controls": [
                {
                  "value": "<h1 style=\"text-align: center;\">CodeGarden</h1>\n<h5 style=\"text-align: center;\">Every year in June, around 500 Umbracians gather in Denmark for our annual conference “CodeGarden”.</h5>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media"
              ],
              "controls": []
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media"
              ],
              "controls": []
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media"
              ],
              "controls": []
            }
          ],
          "styles": {
            "background-image": "url(/media/1028/14435732345_c9f5b48dfa_h_dark.jpg)"
          },
          "config": {
            "class": "dark"
          },
          "id": "0093bd05-735a-9623-8509-28085818745c"
        }
      ]
    }
  ]
}]]></content>
    <carouseltitle><![CDATA[Paid Tax in New Zealand for the last five years?]]></carouseltitle>
    <subtitle><![CDATA[You may get a refund]]></subtitle>
    <stepOne><![CDATA[As soon as we get the information supplied to us, verified your identity, we then link your personal IRD number to our tax agency with the Inland Revenue Department. This gives us access to your IRD records and check with our system if you are owed a refund . We will not process if our system detects a tax bill.]]></stepOne>
    <stepTwo><![CDATA[We then calculate if you are eligible for a tax refund and look in other areas where you may be eligible to claim a tax credit and deductible expenses. We file the Personal Tax Summary (PTS) to IRD.]]></stepTwo>
    <stepThree><![CDATA[If a refund is due, IRD will send you direct a confirmation . Payment will be issued by IRD to our trust account in your favor. Upon receipt of payment, we will endeavour to credit the refund to your bank account or by cheque less our fees.]]></stepThree>
    <howItWorksCaption><![CDATA[please write some caption here please..]]></howItWorksCaption>
    <about><![CDATA[<h2>iRefund part of NZTaxation group of companies and has been operating in New Zealand for more than 10 years now.</h2>
<p>NZTaxation Limited was originally created to help immigrants who are on a temporary work and students visa coming from various cultural background to help them on taxation compliance with the Inland Revenue Department (IRD). Apart from English which is our main language, we have staff who can communicate in Spanish, French, Philippine and Indian language as well as chinese.</p>]]></about>
    <aboutColumn1><![CDATA[<h2>About us</h2>
<p><img style="width: 500px; height: 200px;" src="/media/1053/6.jpg?width=500&amp;height=200" alt="" rel="1099" /></p>]]></aboutColumn1>
    <contactColumn1><![CDATA[<h2 class="section-heading animated" data-animation="bounceInUp">CONTACT US</h2>
<p>Please keep in touch</p>
<h3><span class="fa fa-map-marker">  22 Bridge Avenue, Te Atatu South Auckland 0610</span></h3>
<h3><a href="mailto:nztaxation@gmail.com"><span class="fa fa-envelope">  info@nztaxation.co.nz</span></a></h3>]]></contactColumn1>
    <contactColumn2><![CDATA[<p><img style="width: 336px; height: 223px; float: right;" src="/media/1054/contact.png?width=336&amp;height=223" alt="" rel="1100" /></p>]]></contactColumn2>
  </Home>
  <ApplyForRefund id="1097" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2015-10-03T21:56:55" updateDate="2015-10-04T02:12:22" nodeName="Apply for a Refund" urlName="apply-for-a-refund" path="-1,1097" isDoc="" nodeType="1096" creatorName="Admin" writerName="Admin" writerID="0" template="1095" nodeTypeAlias="ApplyForRefund">
    <body><![CDATA[<?UMBRACO_MACRO macroAlias="FormsRenderForm" FormGuid="b5c66996-2939-4256-a17e-5536a78274b4" />
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>]]></body>
  </ApplyForRefund>
</root>